{% extends 'comunes/default.html.twig' %}

{% block contenido %}
<section class="bg-white py-5">
    <div class="container">
        <h2>Servicios fisioterapia deportiva:</h2>

            <table class="table text-center text-black">
            <thead>
                <tr>
                    <th scope="col"><strong>Servicio</strong></th>
                    <th scope="col"><strong>Medico</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for servicio in servicios %}
                        {% set medicosServicio = medicos[servicio.id] ?? [] %} {# Si no hay médicos, sin asignar #}
                        {% if medicosServicio is empty %}
                            <tr>
                                <td>{{ servicio.nombre }}</td>
                                <td><i>Sin asignar</i></td>
                            </tr>
                        {% else %}
                            {% for medico in medicosServicio %}
                                <tr>
                                    {% if loop.first %}
                                        <td rowspan="{{ medicosServicio|length }}">{{ servicio.nombre }}</td>
                                    {% endif %}
                                    <td>{{ medico.nombre }} {{ medico.apellido }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
            </tbody>
            </table>
    </div>
</section>
{% endblock %}
